.header {
  padding-top: var(--mantine-spacing-sm);
  background-color: light-dark(var(--mantine-color-gray-0),
      var(--mantine-color-dark-6));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), transparent);
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-white),
        var(--mantine-color-dark-8));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-dark-8));
}